:root {
  --bg-color: #31202b;
  --neon-color: #ff14bd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}

.piece {
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.piece1Color {
  background-color: #ffa500;
  box-shadow: 0px 0px 5px #ffa500;
}

.piece2Color {
  background-color: #4dd2ff;
  box-shadow: 0px 0px 5px #4dd2ff;
}


.yellow {
  background-color: transparent;
  border: 1px solid #ffff00;
}

.noColor {
  background-color: transparent;
}

.cursor {
  cursor: default;
}